<% layout('layouts/boilerplate')%>
<div class="row align-items-center justify-content-center h-100">
    <div class="col-12 col-md-7 col-lg-5 text-center">
        <h1 class="display-3 mb-4">Edit Campground</h1>

        <form class="validate-form" action="/campgrounds/<%= campground._id %>?_method=PUT"
            method="POST" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="text" name="campground[title]"
                    value="<%= campground.title %>" placeholder="Campground title" required />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" id="location" type="text" name="campground[location]"
                    value="<%= campground.location %>" placeholder="Campground location" required />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" id="price" type="text" placeholder="0.00"
                        aria-label="price" aria-describedby="price-label" name="campground[price]"
                        value="<%= campground.price %>" required />
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" type="text"
                    name="campground[description]"
                    placeholder="Add a description for your campground" required>
                        <%= campground.description %>
                </textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="image">Upload Images</label>
                <input class="form-control" id="image" type="file" name="image" multiple />
            </div>

            <div class="form-group mb-3">
                <label class="form-label d-block">Delete Images</label>
                <% campground.images.forEach((img, i) => { %>
                <div class="form-check-inline mb-2">
                    <input class="position-absolute" id="img<%= i + 1 %>" type="checkbox"
                        name="deleteImages[]" value="<%= img.filename %>" />
                    <label for="img<%= i + 1 %>">
                        <img src="<%= img.thumbnail %>" alt="Image <%= i + 1 %>"
                            crossorigin="anonymous" />
                    </label>
                </div>
                <% }) %>
            </div>

            <button class="btn btn-info w-50 mb-3">Update Campground</button>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Go back</a>
    </div>
</div>
