<% layout('layouts/boilerplate')%>
<div class="row">
    <header class="col-12 mb-4">
        <h1 class="display-3 mb-0 text-center">All Campgrounds</h1>
        <h5 class="mb-4 text-center">
            <a href="/campgrounds/new">Add a campground</a>
        </h5>
        <div id="cluster-map"></div>
    </header>

    <% for (const campground of campgrounds.reverse()){ %>
    <div class="col-md-6 text-center">
        <div class="card mb-4">
            <div class="home-img">
                <img class="d-block h-100 card-img-top img-fluid"
                    src="<%= campground.images.length ? campground.images[0].url : "https://res.cloudinary.com/djw8bfa5e/image/upload/v1657721562/cld-sample-2.jpg" %>"
                    alt="<%= campground.title %> Photo" crossorigin="anonymous" />
            </div>

            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <h6 class="card-subtitle mb-3 text-muted"><%= campground.location %></h6>
                <p class="card-text mb-3"><%= campground.description %></p>
                <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">
                    View <%= campground.title %>
                </a>
            </div>
        </div>
    </div>
    <% }%>
</div>

<script src="/scripts/clusterMap.js" data-campgrounds="<%= JSON.stringify(campgrounds) %>"
    data-token="<%= process.env.MAPBOX_TOKEN %>"></script>
